<div id="contact" class="contact-container">

    <form onsubmit="onSubmit(event)">
        <h2>CONTACTE CON NOSOTROS</h2>
        <div class="field">
            <label class="label">Nombre</label>
            <div class="control">
                <input class="input" type="text" placeholder="Text input">
            </div>
        </div>
        <div class="field">
            <label class="label">Email *</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-danger" type="email" placeholder="ejemplo@ejemplo.com" required>
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                    <i class="fas fa-exclamation-triangle"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label">Mensaje</label>
            <div class="control">
                <textarea class="textarea" placeholder="Textarea"></textarea>
            </div>
        </div>
    
        <div class="field">
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox" required>
                    Acepto <a href="#">términos y condiciones</a>
                </label>
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link">Submit</button>
            </div>
            <div class="control">
                <button class="button is-link is-light">Cancel</button>
            </div>
        </div>
    </form>

    
   
    
</div>

<script type="module" src="./assets/scripts/contact.js"></script>

<style>

.contact-container{
background-color: brown;
padding: 0 1rem;

}
.contact-container h2{
    color:white;
    margin-top: 2rem;
}
.label{
    color: white;
}


form{
    max-width: 1400px;
    margin: auto;
    color: white;
    padding: 1rem 0px;
}

.control.has-icons-left .input, .control.has-icons-left .select select{
    padding: calc(0.5em - 1px) calc(0.75em - 1px);
}
.is-danger.input, .is-danger.textarea {
    border:none; 
}
.button.is-link{
    background-color: #ff5252;
}
.button.is-link:hover{
    background-color: #f21d1d;
    color:white;
}
.field a{
    color:#7a7a7a;
}
.field a:hover {
    color: #363636;
}
.button.is-link.is-light {
    color: #ff5252;
    background-color: #eff1fa;
}
.button.is-link.is-light:hover {
    background-color: #a4a4a5;
    color:white;
}
</style>
