<section class="main__content__section">
        <article class="main__content__section__article">
          <div class="main__content__section__article__image">
            <img src="./assets/images/montjuic_11.jpg" alt="">
          </div>
          <div class="main__content__section__article__information">
            <h3>Castillo de Montjuïc en bicicleta</h3>
            <p>
              Quisque eget velit aliquam, malesuada orci suscipit, vehicula augue. Ut mi metus, tincidunt ut porta vel,
              convallis sit amet sapien. Curabitur ligula mauris, ullamcorper vitae velit ut, iaculis pellentesque
              augue. Sed congue mauris at tellus accumsan, ut cursus mi facilisis. Maecenas dapibus arcu nec dolor
              tincidunt venenatis. Integer ut enim diam...
            </p>
          </div>
          <div class="main__content__section__article__button">></div>
        </article>
        <article class="main__content__section__article">
          <div class="main__content__section__article__image">
            <img src="./assets/images/montjuic_12.jpg" alt="">
          </div>
          <div class="main__content__section__article__information">
            <h3>Castillo de Montjuïc a pie</h3>
            <p>
              Quisque eget velit aliquam, malesuada orci suscipit, vehicula augue. Ut mi metus, tincidunt ut porta vel,
              convallis sit amet sapien. Curabitur ligula mauris, ullamcorper vitae velit ut, iaculis pellentesque
              augue. Sed congue mauris at tellus accumsan, ut cursus mi facilisis. Maecenas dapibus arcu nec dolor
              tincidunt venenatis. Integer ut enim diam...
            </p>
          </div>
          <div class="main__content__section__article__button">></div>
        </article>
        <article class="main__content__section__article">
          <div class="main__content__section__article__image">
            <img src="./assets/images/montjuic_13.jpg" alt="">
          </div>
          <div class="main__content__section__article__information">
            <h3>Montjuïc de noche</h3>
            <p>
              Quisque eget velit aliquam, malesuada orci suscipit, vehicula augue. Ut mi metus, tincidunt ut porta vel,
              convallis sit amet sapien. Curabitur ligula mauris, ullamcorper vitae velit ut, iaculis pellentesque
              augue. Sed congue mauris at tellus accumsan, ut cursus mi facilisis. Maecenas dapibus arcu nec dolor
              tincidunt venenatis. Integer ut enim diam...
            </p>
          </div>
          <div class="main__content__section__article__button">></div>
        </article>
      </section>