<section class="main__content__section" id="events">
    <article class="main__content__section__article--relative">
      <div class="main__content__section__article__image--bigger">
        <img src="./assets/images/estadiolimpic2.jpg" alt="">
      </div>
      <div class="main__content__section__article__text">
        <h3>Visita el estadio.</h3>
        <p>
          Quisque eget velit aliquam, malesuada orci suscipit, vehicula augue. Ut mi metus, tincidunt ut porta vel,
          convallis sit amet sapien. Curabitur ligula mauris, ullamcorper vitae velit ut, iaculis pellentesque
          augue...
        </p>
        <div class="main__content__section__article__button">></div>
      </div>
    </article>
  </section>