<section class="main__content__section main__content__section--third">
    <article class="main__content__section__article--concertContainer">
        <div class="main__content__section__article__image--palauSantJordi">
            <img class="main__content__section__article__image__img " src="./assets/images/PalauSantJordi1.jpg" alt="">
        </div>
        <div class="main__content__section__article__concertsInformation palauSantJordi__concerts">
            <button
                class="main__content__section__article__concertsInformation__button main__content__section__article__concertsInformation__button--up"
                onclick="scrollUp()">
                <span>
                    >
                </span>
            </button>
            <ul class="main__content__section__article__concertsInformation__list concertcontainer__list">
                <li class="main__content__section__article__concertsInformation__list__item">
                    <div class="main__content__section__article__concertsInformation__list__item__concertdata">
                        <div
                            class=" main__content__section__article__concertsInformation__list__item__concertdata__date">
                            <span
                                class="main__content__section__article__concertsInformation__list__item__concertdata__date--day">
                                25
                            </span>
                            <span
                                class="main__content__section__article__concertsInformation__list__item__concertdata__date--month">
                                ABRIL
                            </span>
                        </div>
                        <div
                            class="main__content__section__article__concertsInformation__list__item__concertdata__eventTag">
                            <svg class="main__content__section__article__concertsInformation__list__item__concertdata__eventTag__tag  jUgMbd"
                                version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path class="ahT01d"
                                    d="M18,19.1122997 L12,16.5687897 L6,19.1122997 L6,3.94457951 L18,3.94457951 L18,19.1122997 Z M17.7133331,2 L6.28555552,2 C5.02849998,2 4.01142778,3 4.01142778,4.22222222 L4,22 L11.9994443,18.6666667 L19.9988887,22 L19.9988887,4.22222222 C19.9988887,3 18.9703887,2 17.7133331,2 Z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <div class="main__content__section__article__concertsInformation__list__item__artistInformation">
                        <h4>Bob Dylan</h4>
                        <span>mar, 21:00–23:00</span>
                        <span>Barcelona, Palau Sant Jordi</span>
                    </div>
                    <div class="main__content__section__article__concertsInformation__list__item__imageArtist">
                        <img src="./assets/images/singers/Dylan.jpg">
                    </div>
                </li>
                <li class="main__content__section__article__concertsInformation__list__item">
                    <div class="main__content__section__article__concertsInformation__list__item__concertdata">
                        <div
                            class=" main__content__section__article__concertsInformation__list__item__concertdata__date">
                            <span
                                class="main__content__section__article__concertsInformation__list__item__concertdata__date--day">
                                30
                            </span>
                            <span
                                class="main__content__section__article__concertsInformation__list__item__concertdata__date--month">
                                ABRIL
                            </span>
                        </div>
                        <div
                            class="main__content__section__article__concertsInformation__list__item__concertdata__eventTag">
                            <svg class="main__content__section__article__concertsInformation__list__item__concertdata__eventTag__tag  jUgMbd"
                                version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path class="ahT01d"
                                    d="M18,19.1122997 L12,16.5687897 L6,19.1122997 L6,3.94457951 L18,3.94457951 L18,19.1122997 Z M17.7133331,2 L6.28555552,2 C5.02849998,2 4.01142778,3 4.01142778,4.22222222 L4,22 L11.9994443,18.6666667 L19.9988887,22 L19.9988887,4.22222222 C19.9988887,3 18.9703887,2 17.7133331,2 Z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <div class="main__content__section__article__concertsInformation__list__item__artistInformation">
                        <h4>Alicia Keys</h4>
                        <span>dom, 21:00–23:00</span>
                        <span>Barcelona, Palau Sant Jordi</span>
                    </div>
                    <div class="main__content__section__article__concertsInformation__list__item__imageArtist">
                        <img src="./assets/images/singers/AliciaKeys.jpg">
                    </div>
                </li>
                <li class="main__content__section__article__concertsInformation__list__item">
                    <div class="main__content__section__article__concertsInformation__list__item__concertdata">
                        <div
                            class=" main__content__section__article__concertsInformation__list__item__concertdata__date">
                            <span
                                class="main__content__section__article__concertsInformation__list__item__concertdata__date--day">
                                4
                            </span>
                            <span
                                class="main__content__section__article__concertsInformation__list__item__concertdata__date--month">
                                MAYO
                            </span>
                        </div>
                        <div
                            class="main__content__section__article__concertsInformation__list__item__concertdata__eventTag">
                            <svg class="main__content__section__article__concertsInformation__list__item__concertdata__eventTag__tag  jUgMbd"
                                version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path class="ahT01d"
                                    d="M18,19.1122997 L12,16.5687897 L6,19.1122997 L6,3.94457951 L18,3.94457951 L18,19.1122997 Z M17.7133331,2 L6.28555552,2 C5.02849998,2 4.01142778,3 4.01142778,4.22222222 L4,22 L11.9994443,18.6666667 L19.9988887,22 L19.9988887,4.22222222 C19.9988887,3 18.9703887,2 17.7133331,2 Z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <div class="main__content__section__article__concertsInformation__list__item__artistInformation">
                        <h4>Beyonce</h4>
                        <span>jue, 21:00–23:00</span>
                        <span>Barcelona, Palau Sant Jordi</span>
                    </div>
                    <div class="main__content__section__article__concertsInformation__list__item__imageArtist">
                        <img src="./assets/images/singers/Beyonce.jpg">
                    </div>
                </li>
                <li class="main__content__section__article__concertsInformation__list__item">
                    <div class="main__content__section__article__concertsInformation__list__item__concertdata">
                        <div
                            class=" main__content__section__article__concertsInformation__list__item__concertdata__date">
                            <span
                                class="main__content__section__article__concertsInformation__list__item__concertdata__date--day">
                                13
                            </span>
                            <span
                                class="main__content__section__article__concertsInformation__list__item__concertdata__date--month">
                                MAYO
                            </span>
                        </div>
                        <div
                            class="main__content__section__article__concertsInformation__list__item__concertdata__eventTag">
                            <svg class="main__content__section__article__concertsInformation__list__item__concertdata__eventTag__tag  jUgMbd"
                                version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path class="ahT01d"
                                    d="M18,19.1122997 L12,16.5687897 L6,19.1122997 L6,3.94457951 L18,3.94457951 L18,19.1122997 Z M17.7133331,2 L6.28555552,2 C5.02849998,2 4.01142778,3 4.01142778,4.22222222 L4,22 L11.9994443,18.6666667 L19.9988887,22 L19.9988887,4.22222222 C19.9988887,3 18.9703887,2 17.7133331,2 Z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <div class="main__content__section__article__concertsInformation__list__item__artistInformation">
                        <h4>Jason Derulo</h4>
                        <span>sáb, 21:00–23:00</span>
                        <span>Barcelona, Palau Sant Jordi</span>
                    </div>
                    <div class="main__content__section__article__concertsInformation__list__item__imageArtist">
                        <img src="./assets/images/singers/JasonDerulo.png">
                    </div>
                </li>
                <li class="main__content__section__article__concertsInformation__list__item">
                    <div class="main__content__section__article__concertsInformation__list__item__concertdata">
                        <div
                            class=" main__content__section__article__concertsInformation__list__item__concertdata__date">
                            <span
                                class="main__content__section__article__concertsInformation__list__item__concertdata__date--day">
                                21
                            </span>
                            <span
                                class="main__content__section__article__concertsInformation__list__item__concertdata__date--month">
                                MAYO
                            </span>
                        </div>
                        <div
                            class="main__content__section__article__concertsInformation__list__item__concertdata__eventTag">
                            <svg class="main__content__section__article__concertsInformation__list__item__concertdata__eventTag__tag  jUgMbd"
                                version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path class="ahT01d"
                                    d="M18,19.1122997 L12,16.5687897 L6,19.1122997 L6,3.94457951 L18,3.94457951 L18,19.1122997 Z M17.7133331,2 L6.28555552,2 C5.02849998,2 4.01142778,3 4.01142778,4.22222222 L4,22 L11.9994443,18.6666667 L19.9988887,22 L19.9988887,4.22222222 C19.9988887,3 18.9703887,2 17.7133331,2 Z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <div class="main__content__section__article__concertsInformation__list__item__artistInformation">
                        <h4>Rihanna</h4>
                        <span>dom, 21:00–23:00</span>
                        <span>Barcelona, Palau Sant Jordi</span>
                    </div>
                    <div class="main__content__section__article__concertsInformation__list__item__imageArtist">
                        <img src="./assets/images/singers/Rihanna.jpg">
                    </div>
                </li>
                <li class="main__content__section__article__concertsInformation__list__item">
                    <div class="main__content__section__article__concertsInformation__list__item__concertdata">
                        <div
                            class=" main__content__section__article__concertsInformation__list__item__concertdata__date">
                            <span
                                class="main__content__section__article__concertsInformation__list__item__concertdata__date--day">
                                18
                            </span>
                            <span
                                class="main__content__section__article__concertsInformation__list__item__concertdata__date--month">
                                JUNIO
                            </span>
                        </div>
                        <div
                            class="main__content__section__article__concertsInformation__list__item__concertdata__eventTag">
                            <svg class="main__content__section__article__concertsInformation__list__item__concertdata__eventTag__tag  jUgMbd"
                                version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path class="ahT01d"
                                    d="M18,19.1122997 L12,16.5687897 L6,19.1122997 L6,3.94457951 L18,3.94457951 L18,19.1122997 Z M17.7133331,2 L6.28555552,2 C5.02849998,2 4.01142778,3 4.01142778,4.22222222 L4,22 L11.9994443,18.6666667 L19.9988887,22 L19.9988887,4.22222222 C19.9988887,3 18.9703887,2 17.7133331,2 Z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <div class="main__content__section__article__concertsInformation__list__item__artistInformation">
                        <h4>Simple Plan</h4>
                        <span>dom, 21:00–23:00</span>
                        <span>Barcelona, Palau Sant Jordi</span>
                    </div>
                    <div class="main__content__section__article__concertsInformation__list__item__imageArtist">
                        <img src="./assets/images/singers/simpleplan.jpeg">
                    </div>
                </li>
                <li class="main__content__section__article__concertsInformation__list__item">
                    <div class="main__content__section__article__concertsInformation__list__item__concertdata">
                        <div
                            class=" main__content__section__article__concertsInformation__list__item__concertdata__date">
                            <span
                                class="main__content__section__article__concertsInformation__list__item__concertdata__date--day">
                                25
                            </span>
                            <span
                                class="main__content__section__article__concertsInformation__list__item__concertdata__date--month">
                                JUNIO
                            </span>
                        </div>
                        <div
                            class="main__content__section__article__concertsInformation__list__item__concertdata__eventTag">
                            <svg class="main__content__section__article__concertsInformation__list__item__concertdata__eventTag__tag  jUgMbd"
                                version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path class="ahT01d"
                                    d="M18,19.1122997 L12,16.5687897 L6,19.1122997 L6,3.94457951 L18,3.94457951 L18,19.1122997 Z M17.7133331,2 L6.28555552,2 C5.02849998,2 4.01142778,3 4.01142778,4.22222222 L4,22 L11.9994443,18.6666667 L19.9988887,22 L19.9988887,4.22222222 C19.9988887,3 18.9703887,2 17.7133331,2 Z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <div class="main__content__section__article__concertsInformation__list__item__artistInformation">
                        <h4>The Doors</h4>
                        <span>dom, 21:00–23:00</span>
                        <span>Barcelona, Palau Sant Jordi</span>
                    </div>
                    <div class="main__content__section__article__concertsInformation__list__item__imageArtist">
                        <img src="./assets/images/singers/Thedoors.jpg">
                    </div>
                </li>
            </ul>
            <button
                class="main__content__section__article__concertsInformation__button main__content__section__article__concertsInformation__button--down"
                onclick="scrollDown()">
                <span>
                    >
                </span>
            </button>
        </div>
    </article>
</section>
<script>
    const scrollUp = () => {
        concertList.scrollBy(0, -50);
    };
    const scrollDown = () => {
        concertList.scrollBy(0, 50);
    };

    const concertList = document.querySelector(".concertcontainer__list");
    const scrollUpButton = document.querySelector(
        ".main__content__section__article__concertsInformation__button--up"
    );
    const scrollDownButton = document.querySelector(
        ".main__content__section__article__concertsInformation__button--down"
    );

    const scrollListener = () => {
        if (concertList.scrollTop === 0) {
            scrollUpButton.disabled = true;
            scrollUpButton.style = "background-color : #cbcbcb";
        } else {
            scrollUpButton.disabled = false;
            scrollUpButton.style = "background-color : #7a7a7a";
        }
        if (
            Math.round(concertList.scrollTop + concertList.clientHeight) ===
            concertList.scrollHeight
        ) {
            scrollDownButton.disabled = true;
            scrollDownButton.style = "background-color : #cbcbcb";
        } else {
            scrollDownButton.disabled = false;
            scrollDownButton.style = "background-color : #7a7a7a";
        }
    };

    concertList.addEventListener("scroll", scrollListener);
</script>